:root {
  --primary-color :#2a92f4;
  --secondary-color:#f1891a;
  --dark-color:#141212;
  --light-color:#3a342a;
  --white-color:#ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    /* place-items: center; */
  }
}

.container {
  display: flex;
  padding: 0 2rem;
}

header .container {
  justify-content: space-between;
}